---
---
<nav class="nav">
  <a class="nav-logo" href="/">
    <span class="emblema">❦</span>
    <span class="titulo">El Viaje de<b>DULCINEA</b></span>
  </a>
  <ul class="nav-links">
    <li><a href="/#capitulos">Historia</a></li>
    <li><a href="/#mapa">Ruta</a></li>
    <li><a href="/#aliados">Escuderos</a></li>
    <li><a href="/#proximas">Está por venir</a></li>
    <li><a href="/participar">Contacto</a></li>
  </ul>
</nav>
